/* Global Styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f01313;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}
img {
  margin-right: 4%;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  right: 0;
  width: 5.5%;
  height: 12%;
}

.sidebar {
  width: 18%; /* Set the width of the sidebar */
  height: 100%; /* Full height */
  background-color: #007bff; /* Sidebar background color */
  padding-top: 20px;
  position: fixed; /* Fix the sidebar to the left */
}

.sidebar h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.main-content {
  color: white;
  border: white 2px solid;
  background-color:#0c76e0 ;
  margin-left: 18.5%; /* Leave space for the sidebar */
  padding: 20px;
  flex-grow: 1; /* Allow the main content to grow */
  height: 50%;
  margin-bottom: 0; /* Remove bottom margin */
}

.header {
  background-color: #343a40; /* Header background color */
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.bar{
  background-color: blue;
  border: 1px solid blue;
  width: 100%;
}
.welcome-message {
  margin-bottom: 1%;
}
footer {
  background-color: #343a40; /* Footer background color */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  padding: 2px 0; /* Reduced vertical padding for a shorter footer */
  margin-top: auto; /* Push the footer to the bottom */
  height: 50%;
  margin-left: 18.5%;
  width: 81.7%; /* Full width of the footer */
  position: relative; /* Ensure positioning is relative */
  bottom: 0; /* Stick to the bottom */
}

.social-media a {
  color: white;
  /* margin: 0 10px; */
  font-size: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
      padding: 40px 0; /* Reduce padding on smaller screens */
  }

  .container {
      padding: 10px; /* Reduce padding on smaller screens */
  }

  h2 {
      font-size: 1.5em; /* Adjust heading size */
  }
}
.rights_reserved{
  color: white;
}
